@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{

	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --accent-color: #641BFF;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
  }
html {
    scroll-behavior: smooth;
  }
nav{
	width: 100%;
	height: 75px;
	background-color: #EC632D;
	line-height: 75px;
	padding:0px 100px;
	position:fixed;
	z-index: 1;
}
nav .logo{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px; 
}
nav .logo p{
	float: left;
	color:#fff;
	text-transform: uppercase;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding:0px 32px;
}
nav ul li a:hover{
	color:#65238D;
}
nav ul li .active{
	color:#65238D;
}
nav ul .btn a{
    
position: absolute;
width: 90px;
height: 37px;
left: 1253px;
top: 17px;

background: #2D2D2D;
border-radius: 10px;
font-family: Scheherazade;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 32px;
/* identical to box height */
text-align: center;
text-decoration: none;
color: #ffffff;

}

#beranda{
    height: 100vh;
    background: url(img/banner.jpg);
    background-size: cover;
}
.box{
    background: #65238D;
    position: relative;
    width: 1080px;
    height: 280px;
    left: 150px;
    top: 500px;
    border-radius: 20px;
    background: #65238D
}
.box p{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 122px;
    top: 20px;
    left: 500px;
    width: 467px;
    height: 150px;
    color: #FFFFFF;
}
.box h1{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 121.8%;
    top : -30px;
    left: 500px;
    color: #FFFFFF;
    height: 150px;
    width: 467px;
}

#tim{
    height: 100vh;
    background-color: #EC632D;
}
.conta{
    position: relative;
    width: 128px;
    height: 128px;
    left: 173px;
    top: 200px;

    background: url(img/img1.jpg);
    border-radius: 1000px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.ine p{
    position: relative;
    width: 216px;
    height: 88px;
    left: 156px;
    top: 200px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 88px;
    /* identical to box height */


    color: #FFFFFF;

}
.ine h1{
    position: relative;
    width: 299px;
    height: 150px;
    left: 96px;
    top: 190px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.8%;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}


.conti{
    position: relative;
    width: 128px;
    height: 128px;
    left: 503px;
    top: -165px;

    background: url(img/img1.jpg);
    border-radius: 1000px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.ina p{
    position: relative;
    width: 216px;
    height: 88px;
    left: 486px;
    top: -170px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 88px;
    /* identical to box height */


    color: #FFFFFF;

}
.ina h1{
    position: relative;
    width: 299px;
    height: 150px;
    left: 426px;
    top: -176px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.8%;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}


.conte{
    position: relative;
    width: 128px;
    height: 128px;
    left: 823px;
    top: -533px;

    background: url(img/img1.jpg);
    border-radius: 1000px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.ini p{
    position: relative;
    width: 216px;
    height: 88px;
    left: 806px;
    top: -540px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 88px;
    /* identical to box height */


    color: #FFFFFF;

}
.ini h1{
    position: relative;
    width: 299px;
    height: 150px;
    left: 756px;
    top: -543px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.8%;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.cont{
    position: relative;
    width: 128px;
    height: 128px;
    left: 1103px;
    top: -655px;

    background: url(img/img1.jpg);
    border-radius: 1000px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.inu p{
    position: relative;
    width: 216px;
    height: 88px;
    left: 1096px;
    top: -665px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 88px;
    /* identical to box height */


    color: #FFFFFF;

}
.inu h1{
    position: relative;
    width: 299px;
    height: 150px;
    left: 1046px;
    top: -669px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.8%;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}
.inu{
    height: 0vh;
}
.ini{
    height: 0vh;
}

#solusi{
    height: 100vh;
    background: #65238D;
}
#solusi img{
    width: 618px;
    height: 570px;
    position: relative;
    left: 100px;
    top: 25px;
    border-radius: 20px;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
#solusi p{
    position: relative;
    width: 136px;
    height: 122px;
    left: 951px;
    top: -405px;
    
    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 122px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
#solusi h1{
    position: relative;
    width: 502px;
    height: 154px;
    left: 829px;
    top: -428px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 121.8%;
    /* or 30px */


    color: #FFFFFF;

}

#layanan{
    height: 100vh;
    background-color: #EC632D;
}
.bok{
    border-radius: 20px;
    position: relative;
    width: 1221px;
    height: 542px;
    left: 71px;
    top: 40px;

    background: #65238D;
}
.card{
    position: relative;
    top: 100px;
    left: 50px;
}
.car{
    position: relative;
    top: -195px;
    left: 480px;
}
.ca{
    position: relative;
    top: -450px;
    left: 880px;
}
.car-bod{
    position: relative;
    left: 20%;
    background-color: #fff;
}
#produk{
    height: 280vh;
    background-color: #65238D;;
}
#produk p{
    position: relative;
    width: 495px;
    height: 169px;
    left: 600px;
    top: 10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 169px;
    /* identical to box height */


    color: #FFFFFF;

}
.pox{
    height: 0px;
}
.pox img{
    position: relative;
    width: 505px;
    height: 421px;
    left: 95px;
    top: 96px;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
#produk .pox p{
    position: relative;
    width: 614px;
    height: 162px;
    left: 687px;
    top: -188px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 121.8%;
    /* or 30px */


    color: #FFFFFF;

}
.pox button{
    position: relative;
    top: -230px;
    left: 690px;
    width: 100px;
    height: 65px;
    border-radius: 20px;
    background-color: #EC632D;
}

.poc{
    height: 0px;
}
.poc img{
    position: relative;
    width: 505px;
    height: 421px;
    left: 755px;
    top: 596px;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
#produk .poc p{
    position: relative;
    width: 614px;
    height: 162px;
    left: 107px;
    top: 308px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 121.8%;
    /* or 30px */


    color: #FFFFFF;

}
.poc button{
    position: relative;
    top: 290px;
    left: 100px;
    width: 100px;
    height: 65px;
    border-radius: 20px;
    background-color: #EC632D;
}

.pok{
    height: 0px;
}
.pok img{
    position: relative;
    width: 505px;
    height: 421px;
    left: 95px;
    top: 1106px;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
#produk .pok p{
    position: relative;
    width: 614px;
    height: 162px;
    left: 687px;
    top: 788px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 121.8%;
    /* or 30px */


    color: #FFFFFF;

}
.pok button{
    position: relative;
    top: 750px;
    left: 690px;
    width: 100px;
    height: 65px;
    border-radius: 20px;
    background-color: #EC632D;
}

#testi{
	height: 150vh;
	background-color: #262626;
}
.swiper{
	position: relative;
	width: 512px;
	height: 130px;
	left: 30px;
	top: 20px;

	background: #743490;;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.swiper p{
	position: relative;
	width: 317px;
	height: 100px;
	left: 80px;
	top: 0px;
    text-align: center;
	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 82px;
	line-height: 100px;
	/* identical to box height, or 122% */

	letter-spacing: 0.1em;

color: #F3EEE8;
}

.cbox p{
	position: relative;
	width: 93px;
	height: 100px;
	left: 190px;
	top: -0px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 100px;
	/* identical to box height, or 238% */

	letter-spacing: 0.05em;

color: #fff;
}
.cbox h1{
	position: relative;
	width: 383px;
	height: 88px;
	left: 190px;
	top: -10px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.8%;
	/* or 22px */


	color: #fff;
}
.dbox p{
	position: relative;
	width: 93px;
	height: 100px;
	left: 190px;
	top: 0px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 100px;
	/* identical to box height, or 238% */

	letter-spacing: 0.05em;

color: #F3EEE8;
}
.dbox h1{
	position: relative;
	width: 383px;
	height: 88px;
	left: 190px;
	top: 0px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.8%;
	/* or 22px */


	color: #fff;
}
.ebox p{
	position: relative;
	width: 93px;
	height: 100px;
	left: 900px;
	top: -430px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 100px;
	/* identical to box height, or 238% */

	letter-spacing: 0.05em;

	color: #F3EEE8;
}
.ebox h1{
	position: relative;
	width: 383px;
	height: 88px;
	left: 900px;
	top: -440px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.8%;
	/* or 22px */


	color: #fff;
}
.gbox p{
	position: relative;
	width: 93px;
	height: 100px;
	left: 900px;
	top: -220px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 100px;
	/* identical to box height, or 238% */

	letter-spacing: 0.05em;

	color: #F3EEE8;
}
.gbox h1{
	position: relative;
	width: 383px;
	height: 88px;
	left: 900px;
	top: -220px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.8%;
	/* or 22px */


	color: #fff;
}

.ebox{
    height: 0vh;
}
.gbox{
    height: 0px;
}
.x1{
	position: relative;
width: 226.52px;
height: 115.33px;
left: 597px;
top: -200px;

background: #161616;
border-radius: 60px 60px 0px 0px;
}
.x1 h1{
	position: relative;
	width: 119px;
	height: 27px;
	left: 50px;
	top: 30px;

	font-family: Scheherazade;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 121.8%;
/* identical to box height, or 27px */
color: #DFB474;
}
#benefit{
    height: 100vh;
    background-color:  #EC632D;
}

#kerja{
    background-color: #65238D;
    height: 200vh;
}
.popa{
    position: relative;
        width: 591px;
    height: 309px;
    left: 74px;
    top: 150px;
    background: #F1EBE5;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.popa p{
    position: relative;
    width: 299px;
    height: 122px;
    left: 119px;
    top: 10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 122px;
    /* identical to box height */


    color: #000000;
}
.popa h1{
    position: relative;
    width: 479.57px;
    height: 154.04px;
    left: 39px;
    top: -10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 121.8%;
    /* or 30px */


    color: #000000;

}
h3{
    position: relative;
    width: 514px;
    height: 75px;
    left: 463px;
    top: 30px;
    text-align: center;
    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 105px;
    background: #F1EBE5;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.popi{
    position: relative;
        width: 591px;
    height: 309px;
    left: 374px;
    top: 200px;
    background: #F1EBE5;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.popi p{
    position: relative;
    width: 299px;
    height: 122px;
    left: 119px;
    top: 10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 122px;
    /* identical to box height */


    color: #000000;
}
.popi  h1{
    position: relative;
    width: 479.57px;
    height: 154.04px;
    left: 39px;
    top: -10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 121.8%;
    /* or 30px */


    color: #000000;

}

.popo{
    position: relative;
        width: 591px;
    height: 309px;
    left: 674px;
    top: 220px;
    background: #F1EBE5;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.popo p{
    position: relative;
    width: 299px;
    height: 122px;
    left: 119px;
    top: 10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 122px;
    /* identical to box height */


    color: #000000;
}
.popo  h1{
    position: relative;
    width: 479.57px;
    height: 154.04px;
    left: 39px;
    top: -10px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 121.8%;
    /* or 30px */


    color: #000000;

}

#forto{
    background-color:  #EC632D;
    height: 220vh;
}
.wrappe{
    max-width: 1400px;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .image{
    padding: 7px;
    width: calc(100% / 3);
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    margin: 0 5px;
  }
  .details .title p.current-img{
    font-weight: 500;
  }
  .details .icon{
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 80%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    width: 50%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }
  @media(max-width: 1000px){
    .gallery .image{
      width: calc(100% / 2);
    }
  }
  @media(max-width: 600px){
    .gallery .image{
      width: 100%;
      padding: 4px;
    }
  }
.wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.wrapper .container{
	position: relative;
	width: 350px;
	color: #fff;
	background: #222;
	margin: 40px 10px;
	padding: 30px 20px;
	border-radius: 3px;
	transition: 0.3s ease;
}
.wrapper .container .profile{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
	width: 100%;
	display: block;
}
.wrapper .container .profile .imgBox{
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border: 8px solid #070c0d;
	border-radius: 50%;
	overflow: hidden;
}
.wrapper .container .profile .imgBox img{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	object-fit: cover;
	transition: 0.3s ease;
}
.wrapper .container .profile .imgBox:hover img{
	filter: saturate(140%);
	transform: scale(0.95);
}
.wrapper .container .profile h2{
	padding: 5px 0;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}
.wrapper .container p{
	margin-top: 50px;
	color: #fff;
	padding: 0 8px;
	font-size: 15px;
	opacity: 0.8;
}
.wrapper .container .left{
	font-size: 30px;
	display: block;
	text-align: left;
	color: #3b7cf5;	
}
.wrapper .container .right{
	font-size: 30px;
	display: block;
	text-align: right;
	color: #3b7cf5;	
}
.wrapper .container .social{
	width: 100%;
}
.wrapper .container .social i{
	font-size: 1.2em;
	color: #fff;
	padding: 8px;
	background: rgba(255,255,255,0.08);
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.wrapper .container .social i:hover{
	background: #3b7cf5;	
}
.contaner h1{
    color: #fff;
}
#testi{
    height: 120vh;
    background-color: #65238D;
}

.heading{
	display: inline-block;
	position: relative;
	color: #EC632D;
	font-size: 4vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 800;
}
.heading:before{
	position: absolute;
	content: '';
	width: 15%;
	height: 7px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25%;
	background: #393939;
}
 .heading b{
	color: #fff;
}

#traksi{
    height: 100vh;
    background-color: #EC632D;
}
.contaner {
    position: relative;
    top: 100px;
    left: 50px;
    border-radius: 30px;
    background-color: #65238D;
    width: 700px;
    height: 340px;
    padding: 30px;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .1);
}

.contaner h1 {
    letter-spacing: 1px;
}

.contaner .progress {
    display: flex;
    width: 100%;
    margin: 50px auto;
    color: #fff;
}
.progress{
    background: none;
}
.progress h6 {
    margin-top: -3px;
    font-size: 18px;
    letter-spacing: 1px;
}

.progress .progress-bar {
    position: absolute;
    left: 150px;
    width: 60%;
    height: 15px;
    border-radius: 30px;    
}

.progress .progress-bar .progressing {
    width: 0;
    height: 100%;
    background: #ff0055;
    border-radius: 30px;
}

.progress .progress-bar .circle {
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    border: 6px solid #ff0055;
    border-radius: 50%;
    transform: translateY(-20px) translateX(-10px);
}

.progress .percent {
    position: absolute;
    right: 40px;
    margin-top: -12px;
    font-size: 24px;
} 

.bungkus img{
    position: relative;
    width: 484px;
    height: 443px;
    left: 794px;
    top: -284px;
    border-radius: 20px;
}
.bungkus{
    height: 0vh;
}

#harga{
    height: 100vh;
    background-color: #65238D;
}

.content{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
   .content .card{
    background: #fff;
    width: calc(33% - 20px);
    text-align: center;
    padding: 15px 30px  30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .content .card .top{
    height: 130px;
    color: #fff;
    padding: 12px 0 0 0 ;
    clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
  }
  
  .content .card .top .title{
   font-size: 27px;
   font-weight: 600;
  }
  .content .card .top .price-sec{
    margin-top: -10px;
    font-weight: 600;
  }
  .content .card .top .price{
    font-size: 45px;
  }
  .content .card .info{
    font-size: 16px;
    margin-top: 20px;
  }
  .content .card .details .one{
    margin-top: 25px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .content .card .details .one::before{
    position: absolute;
    content: "";
    width: 100%;
    background: #ddd;
    height: 1px;
    left: 0;
    top: -12px;
    border-radius: 25px;
  }
  .content .card .details .one i{
    color: #2db94d;
  }
  .content .card .details i.fa-times{
    color: #cd3241;
  }
  .content .card button{
    outline: none;
    border: none;
    height: 42px;
    color: #fff;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .content .one .top,
  .content .one button{
    background: #14eb6e;
  }
  .content .two .top,
  .content .two button{
    background: #e87130;
  }
  .content .three .top,
  .content .three button{
    background: #11BCC3;
  }
  .content button:hover {
    filter: brightness(90%);
  }
  .content .one ::selection{
  background: #8af5b6;
  }
  .content .two ::selection{
  background:  #f2b08c;
  }
  .content .three ::selection{
  background: #d0f9fb;
  }
  @media (max-width:1000px) {
     .content .card{
      background: #fff;
      width: calc(50% - 20px);
      margin-bottom: 30px;
  }
  }
  @media (max-width:715px) {
   .content .card{
      width: 100%;
  }
  }


  #contact{
      height: 100vh;
      background-color: #EC632D;
  }
  .contain{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contain:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/banner.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

#patner{
    height: 50vh;
    background-color: #65238D;
}
.atas {
    position: relative;
    width: 402px;
    height: 77px;
    left: 107px;
    top: 5px;
    background: #EC632D;
    border-radius: 20px;
}
.atas p{
    position: relative;
    width: 289px;
    height: 118px;
    left: 128px;
    top: -20px;

    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 118px;

    color: #FFFFFF;


}
#footer{
    height: 50vh;
    background-color: #EC632D;
}

    #footer{
        height: 50vh;
        background-color: #262626;
    }
#footer img{
	position: relative;
	top: 100px;
	left: 500px;
}
#footer .ima img{
	position: relative;
	top: 35px;
	left: 580px;
}
#footer .imu img{
	position: relative;
	top: -32px;
	left: 660px;
}